<div id="message-<%= message.id %>" class="message-list user-<%= message.user.id %>">
  <div class= "message user-<%= message.user.id %>">
    <span class="fw-bold me-1 text-danger"><%= message.user.username %> </span>
    <span><%= message.content %></span>
  </div>
  <small><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></small>
</div>
