<div class="mt-4">
  <%# My Header and buttons %>
  <h1 class="text-center"><%= current_user.username %>'s profile</h1>
  <div class="info-btn">
    <%= link_to 'Edit my profile', edit_user_registration_path, class:"btn-green-secondary" %>
    <%= link_to 'Add a product', new_product_path, class:"btn-green-primary" %>
  </div>

  <%# Tabs %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="seller-tab" data-bs-toggle="tab" data-bs-target="#seller-tab-pane" type="button" role="tab" aria-controls="seller-tab-pane" aria-selected="true">Seller view</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="buyer-tab" data-bs-toggle="tab" data-bs-target="#buyer-tab-pane" type="button" role="tab" aria-controls="buyer-tab-pane" aria-selected="false">Buyer view</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="false">Reviews</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="seller-tab-pane" role="tabpanel" aria-labelledby="seller-tab" tabindex="0">
      <%= render 'users/seller' %>
    </div>
    <div class="tab-pane fade" id="buyer-tab-pane" role="tabpanel" aria-labelledby="buyer-tab" tabindex="0">
      <%= render 'users/buyer' %>
    </div>
    <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
      <%= render 'users/reviews' %>
    </div>
  </div>
</div>
