<div class="card-order">
  <%# Display Product image %>
  <%= link_to order_path(order) do %>
    <% picture_name = order.product.category.name + ".jpg" %>
    <%= image_tag (order.product.photo.attached? ? cl_image_path(order.product.photo.key) : asset_path(picture_name)), class: "order-card-image"%>
  <% end %>

  <%# Display right infos %>
  <div class ="card-order-infos">
    <%# Display Product title %>
    <div class="card-order-infos-primary">
      <%# Display seller info %>
      <% if order.product.user == current_user  %>
        <h2><span>
          <%= link_to user_path(order.user) do %>
            <%= image_tag (order.user.photo.attached? ? cl_image_path(order.user.photo.key) : asset_path("emy.jpg")), class: "avatar-on-card" %>
          <% end %>
          Ordered by <%= order.user.username %>
        </span></h2>
      <% elsif order.user == current_user %>
      <%# Display buyer info %>
      <h2><span>
        <%= link_to user_path(order.product.user) do %>
          <%= image_tag (order.product.user.photo.attached? ? cl_image_path(order.product.user.photo.key) : asset_path("emy.jpg")), class: "avatar-on-card" %>
        <% end %>
        Sold by <%= order.product.user.username %>
      </span></h2>
      <% end %>
    </div>
    <%# Display Product information %>
    <div class="card-order-infos-secondary">
      <h3><%= order.product.name %></h3>
      <h3><%= order.product.price %> €</h3>
    </div>
  </div>

  <%# Display buttons for everyone%>
  <div class="card-buttons-progress">
    <p class ="label green-secondary"><%= order.progress.capitalize %></p>
  </div>

  <div class="card-buttons-top">
    <%= link_to product_path(order.product) do %>
      <i class="fa-regular fa-eye"></i>
    <% end %>
    <%= link_to order_path(order) do %>
      <i class="fa-regular fa-message"></i>
    <% end %>
  </div>

  <%# Display buttons for buyer%>
  <% if order.user == current_user %>
    <div class="card-buttons-bottom">
      <% if order.progress != "cancelled" && order.progress != "done"  %>
        <%= button_to 'Cancel', order_path(order, progress: "cancelled", notice: "Order cancelled"), method: :patch, class:"btn-in-card-pink"  %>
      <% end %>
    </div>
  <% end %>

  <%# Display buttons for seller%>
  <% if order.product.user == current_user %>
    <div class="card-buttons-bottom">
      <% if order.progress == "pending" || order.progress == "validated" %>
        <!-- Button modal reject -->
        <button type="button" class="btn-in-card-pink" data-bs-toggle="modal" data-bs-target="#modal-reject-order-<%=order.id%>">
          Reject
        </button>
        <% end %>
        <% if order.progress == "pending" %>
        <!-- Button modal validate -->
        <button type="button" class="btn-in-card-green-primary" data-bs-toggle="modal" data-bs-target="#modal-validate-order-<%=order.id%>">
          Validate
        </button>
      <% end %>
    </div>
  <% end %>

  <!-- Modal validated -->
  <div class="modal fade" id="modal-validate-order-<%=order.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Would you like to validate this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-pink" data-bs-dismiss="modal">No</button>
          <%= button_to 'Yes', order_path(order, progress: "validated", notice: "Order validated"), method: :patch, class:"btn-green-primary" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal rejected -->
  <div class="modal fade" id="modal-reject-order-<%=order.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Would you like to reject this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-pink" data-bs-dismiss="modal">No</button>
          <%= button_to 'Yes', order_path(order, progress: "cancelled", notice: "Order cancelled"), method: :patch, class:"btn-green-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
