<div class="card-order">
  <%# Display Product image %>
  <%= link_to order_path(order) do %>
    <%= image_tag (order.product.photo.attached? ? cl_image_path(order.product.photo.key) : asset_path("paintpots.jpg"))%>
  <% end %>

  <%# Display Product information %>
  <div class="card-order-infos">
    <div class="card-order-infos-primary">
      <h2><%= order.product.name %></h2>
      <p><%= order.product.user.address %></p>
    </div>
    <div class="card-order-infos-secondary">
      <h3><%= order.product.price %> €</h3>
      <p><%= order.product.quantity_left %> %</p>
    </div>
  </div>

  <%# Display buttons %>
  <div class="card-buttons">
    <%= link_to product_path(order.product) do %>
      <i class="fa-regular fa-eye"></i>
    <% end %>
    <%= link_to order_path(order) do %>
      <i class="fa-regular fa-message"></i>
    <% end %>
  </div>
</div>
