<div class="order-show">

  <h1>My order on <%= @order.product.name %></h1>
  <br>
  <%# Display buttons for seller%>
  <div class="order-show-button">
    <% if @order.product.user == current_user %>
        <% if @order.progress == "pending" || @order.progress == "validated" %>
          <!-- Button modal reject -->
          <button type="button" class="btn-pink" data-bs-toggle="modal" data-bs-target="#modal-reject-order-<%=@order.id%>">
            Reject
          </button>
        <% end %>
        <% if @order.progress == "pending" %>
          <!-- Button modal validate -->
          <button type="button" class="btn-green-primary" data-bs-toggle="modal" data-bs-target="#modal-validate-order-<%=@order.id%>">
            Validate
          </button>
        <% end %>
    <% end %>
    <br>
  </div>
<% if @order.product.user == current_user %>
  <% if @order.progress == "pending" %>
    <%= link_to order_path(@order, progress: "validated", notice: "Order validated"), method: :patch do %>
      <div class="order-validate-sm"><i class="fa-solid fa-check"></i></div>
    <% end %>
  <% end %>

  <% if @order.progress == "pending" || @order.progress == "validated" %>
    <%= link_to order_path(@order, progress: "cancelled", notice: "Order cancelled"), method: :patch do %>
      <div class="order-reject-sm"><i class="fa-solid fa-xmark"></i></div>
    <% end %>
  <% end %>
<% end %>

  <%# Display chat %>
  <% if @order.progress != "cancelled" && @order.progress != "done" %>
    <div class="order-chat">
      <h2>Messages</h2>
      <div class="container chatroom" data-controller="order-subscription" data-order-subscription-order-id-value="<%= @order.id %>">
        <div class="messages" data-order-subscription-target="messages">
          <% @order.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
        <%= simple_form_for [@order, @message], remote: true, html: {data: {action: "ajax:success->order-subscription#reset"}, class: "d-flex" } do |f| %>
          <%= f.input :content, as: :string,
            label: false,
            placeholder: "Type your message",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%#= f.submit "Send", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <br>
    <br>
  <% end %>


  <%# Display QR code when order status = validated %>
  <div class="order-qr">
    <div data-controller="qrcode-validation" data-qrcode-validation-order-id-value="<%= @order.id %>" data-qrcode-validation-target="popup"></div>
    <div>
      <% if @order.product.user == current_user && @order.progress == "validated" %>
        <h2>QR code for transaction</h2>
        <br>
        <div class="qr-code">
          <%= @svg.html_safe %>
          <%= image_tag "Logo.png", class: "qr-code-logo" %>
        </div>
      <% end  %>
    </div>
  </div>

<% if @order.progress == "validated" && @order.progress != "done" %>
    <br>
    <br>
    <br>
<% end %>

  <%# Display review %>
  <% if current_user && current_user.can_review?(@order) %>

    <%= simple_form_for([@order, @review], html: { class: "review_form" }) do |f| %>
      <h2>Rate your experience</h2>
      <%= f.input :rating, collection: (1..5).to_a, label: false %>
      <%= f.submit class: "d-none" %>
    <% end %>

  <% end %>

  <% @order.reviews.each do |review| %>
    <%= render 'reviews/card_review', review: review %>
    <br>
  <% end %>


  <%= link_to "Back", user_path(current_user), class: "btn-green-primary" %>

    <br>
    <br>

</div>


  <!-- Modal validated -->
  <div class="modal fade" id="modal-validate-order-<%=@order.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Would you like to validate this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-pink" data-bs-dismiss="modal">No</button>
          <%= button_to 'Yes', order_path(@order, progress: "validated", notice: "Order validated"), method: :patch, class:"btn-green-primary" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal rejected -->
  <div class="modal fade" id="modal-reject-order-<%=@order.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Would you like to reject this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-pink" data-bs-dismiss="modal">No</button>
          <%= button_to 'Yes', order_path(@order, progress: "cancelled", notice: "Order cancelled"), method: :patch, class:"btn-green-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
