<div class="card-product">
  <%# Display Product image %>
  <%= link_to product_path(product) do %>
    <% picture_name = product.category.name + ".jpg" %>
    <%= image_tag (product.photo.attached? ? cl_image_path(product.photo.key) : asset_path(picture_name))%>
  <% end %>

  <%# Display Product information %>
  <div class="card-product-infos">
    <div class="card-product-infos-primary">
      <h2><%= product.name.capitalize %></h2>
      <h3><%= product.category.name.capitalize %></h3>
      <p><%= product.user.address %></p>
    </div>
    <div class="card-product-infos-secondary">
      <p><%= product.price %> €</p>
      <p><%= product.quantity_left %> %</p>
    </div>
  </div>


  <%# Display Bookmark button for buyers %>
  <% if current_user && product.user != current_user %>
  <div>
    <div class="card-buttons">
      <% if current_user.bookmarks.find_by(product: product) %>
        <% bookmark = current_user.bookmarks.find_by(product: product) %>
        <%= link_to bookmark_path(bookmark), data: {display_bookmark_target: "destroy",
                                                                     action: "click->display-bookmark#destruction" } do%>
          <i class="fa-solid fa-heart" data-display-bookmark-target="bookmarks" id="product-<%= product.id %>"></i>
        <% end %>
      <% else  %>
        <%= link_to product_bookmarks_path(product), data: {display_bookmark_target: "create",
                                                                           action: "click->display-bookmark#creation" } do %>
          <i class="fa-regular fa-heart" data-display-bookmark-target="bookmarks" id="product-<%= product.id %>"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <%# Display edit and delete button for sellers %>
  <% if current_user && product.user == current_user  %>
    <div class="card-buttons">
      <%= link_to edit_product_path(product) do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
      <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
  <% end %>

  <%# Display edit and delete button for non-users %>
  <% if current_user.nil?  %>
    <div class="card-buttons" title="please login to add as favorites">
        <i class="fa-regular fa-heart"></i>
    </div>
  <% end %>

</div>
