<div class="card-product" id="product-<%= product.id %>">
  <%# Display Product image %>
  <%= link_to product_path(product) do %>
    <% picture_name = product.category.name + ".jpg" %>
    <%= image_tag (product.photo.attached? ? cl_image_path(product.photo.key) : asset_path(picture_name)), class: "product-card-image"%>
  <% end %>

  <%# Display User avatar %>
  <%= link_to user_path(product.user) do %>
    <%= image_tag (product.user.photo.attached? ? cl_image_path(product.user.photo.key) : asset_path("emy.jpg")), class: "avatar-on-card position-avatar-cardproduct" %>
  <% end %>

  <%# display product title  %>
  <div class="card-product-title">
    <h2><%= product.name.capitalize %></h2>
  </div>

  <%# Display Product information %>
  <div class="card-product-infos">
    <div class="card-product-infos-primary">
      <h3 class="card-category-name"><%= product.category.name.capitalize %></h3>
      <p class="card-category-address"><%= product.user.address %></p>
    </div>
    <div class="card-product-infos-secondary">
      <h3><%= product.price %> €</h3>
      <% if product.quantity_left %>
        <div id="order-gauge-product" data-controller="gauge" data-gauge-pourcentage-value="<%= product.quantity_left%>"></div>
      <% end %>
    </div>
  </div>

  <%# Display Bookmark button for buyers %>
  <% if current_user && current_user.not_my_product?(product) %>
    <div class="card-buttons">
      <% bookmark = product.user_bookmark(current_user)  %>
        <% if bookmark %>
          <%= link_to bookmark_path(bookmark), remote: true, method: :delete do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
        <%= link_to product_bookmarks_path(product), remote: true, method: :post do %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%# Display edit and delete button for sellers %>
  <% if current_user && product.user == current_user  %>
    <div class="card-buttons">
      <%= link_to edit_product_path(product) do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
      <!-- Button modal delete -->
      <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#modal-delete-product-#{product.id}"} do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>

      <!-- Modal -->
      <div class="modal fade" id="modal-delete-product-<%=product.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmation delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Would you like to delete this product?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= button_to 'Delete', product_path(product), method: :delete, class:"btn-pink" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
 <%#= link_to 'Yes', order_path(order, progress: "cancelled", notice: "Order cancelled"), method: :patch, class:"btn-green-primary" %>
