<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.association :category, collection: Category.all, prompt: "Choose a Category"  %>
    <%= f.association :sub_category, collection: SubCategory.all, prompt: "Choose a Sub Category"  %>
    <%= f.input :characteristics %>
    <%= f.input :quantity_left, as: :range, input_html: { min: '25', max: '100', step: '25', value: '50' }, label: 'Quantity Left : 25%, 50%, 75%, 100%' %>
    <%= f.input :brand %>
    <%= f.input :condition %>
    <%= f.input :buying_date, as: :date, end_year: Date.today.year - 10,
                                                        order: [:month, :year] %>
    <%= f.input :expiration_date, as: :date,
                                  end_year: Date.today.year + 10, discard_day: true,
                                  order: [:month, :year] %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-green" %>
  </div>
<% end %>
