<div data-controller="swal">
  <%= simple_form_for(@product, html: { data: { swal_target: "swalform" } } ) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div id="smartwizard">
        <ul class="nav">
          <li>
              <a class="nav-link" href="#step-1">
                  Product info
              </a>
          </li>
          <li>
              <a class="nav-link" href="#step-2">
                  Your details
              </a>
          </li>
          <li>
              <a class="nav-link" href="#step-3">
                  Waste Market fair price proposal
              </a>
          </li>
        </ul>

        <div class="tab-content" data-controller="quantity-left" data-price= "<%=@product_scanned&.price || @product&.price %>">
          <div id="step-1" class="tab-pane" role="tabpanel">
              <%= f.input :name, input_html: {value: @product_scanned&.name || @product&.name }%>
              <%= f.input :description, input_html: {value: @product_scanned&.description || @product&.description} %>
              <%= f.association :category, collection: Category.all, prompt: "Choose a Category", selected: @product_scanned&.category&.name %>
              <%= f.association :sub_category, collection: SubCategory.all, prompt: "Choose a Sub Category", selected: @product_scanned&.sub_category&.name %>
              <%= f.input :characteristics, input_html: {value: @product_scanned&.characteristics || @product&.characteristics }%>
              <%= f.input :brand, input_html: {value: @product_scanned&.brand || @product&.brand } %>
              <%= f.input :photo, as: :file, input_html: {value: @product_scanned&.photo || @product&.photo} %>
          </div>
          <div id="step-2" class="tab-pane" role="tabpanel">
              <%= f.input :quantity_left, as: :range, input_html: { min: '25', max: '100', step: '25', value: '50', data: { quantity_left_target: "quantity", action: "change->quantity-left#test"} }, label:'Quantity Left : 25%, 50%, 75%, 100%' %>
              <%= f.input :condition %>
              <%= f.input :buying_date, as: :date, start_year: Date.today.year , end_year: Date.today.year - 30,
                                                                  order: [:month, :year] %>
              <%= f.input :expiration_date, as: :date,
                                            end_year: Date.today.year + 10, discard_day: true,
                                            order: [:month, :year] %>
          </div>
          <div id="step-3" class="tab-pane" role="tabpanel">
              <%= f.input :price, label: "Proposed price", input_html: { data: { quantity_left_target: "price" }, value:
                            if @product_scanned
                               @product_scanned&.price * (@product_scanned&.quantity_left.to_i.fdiv(100))
                            end || @product&.price}%>
              <div class="form-actions">
                <%= f.button :submit, data: { action: "click->swal#alert" }, class: "btn-green-primary mb-2", id:'sweet-alert' %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'smartwizard' %>
  <% end %>
</div>

<%#= raise %>
