<div data-controller="swal">
  <%= simple_form_for(@product, html: { data: { swal_target: "swalform" } } ) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div id="smartwizard">
        <ul class="nav">
          <li>
              <a class="nav-link" href="#step-1">
                  Product info
              </a>
          </li>
          <li>
              <a class="nav-link" href="#step-2">
                  Your details
              </a>
          </li>
          <li>
              <a class="nav-link" href="#step-3">
                  Waste Market fair price proposal
              </a>
          </li>
        </ul>

        <div class="tab-content tab-content-categories" data-controller="quantity-left" data-price= "<%=@product_scanned&.price || @product&.price %>">
          <div id="step-1" class="tab-pane" role="tabpanel">
              <%= f.input :name, input_html: {value: @product_scanned&.name || @product&.name }%>
              <%= f.input :description, input_html: {value: @product_scanned&.description || @product&.description} %>
              <%= f.association :category, collection: Category.all.map{|cat| [cat.name.capitalize, cat.id]}, prompt: "Choose a Category", selected: @product_scanned&.category&.id %>
              <%= f.association :sub_category, collection: SubCategory.all, prompt: "Choose a Sub Category", selected: @product_scanned&.sub_category&.id %>
              <%= f.input :characteristics, input_html: {value: @product_scanned&.characteristics || @product&.characteristics }%>
              <%= f.input :brand, input_html: {value: @product_scanned&.brand || @product&.brand } %>
              <%= f.input :photo, as: :file unless @product_scanned %>
              <%= f.hidden_field :scan, value: params[:scan] %>
          </div>
          <div id="step-2" class="tab-pane container" role="tabpanel">
            <div class="d-flex justify-content-between">
              <%= f.input :quantity_left,
                          as: :radio_buttons,
                          collection: [["25 %", 25], ["50 %", 50], ["75 %", 75], ["100 %", 100]],
                          input_html: {
                            class: "sr-only",
                            data: {
                              quantity_left_target: "quantity",
                              radio_buttons_target: "input",
                              action: "change->quantity-left#test radio-buttons#select"
                              }
                          },
                          wrapper_html: { class: "mb-4", data: {controller: "radio-buttons"} },
                          item_label_class: "radio-form",
                          item_wrapper_class: "custom-radio-buttons" %>
               <%= f.input :price, label: "Proposed price in €", input_html: { data: { quantity_left_target: "price" }, value:
                  @product&.price}%>
            </div>
              <%= f.input :condition,
                          as: :radio_buttons,
                          collection: ["Perfect", "Good", "Average", "Poor"].map { |element| [element, element] },
                          input_html: {
                            class: "sr-only",
                            data: {
                              radio_buttons_target: "input",
                              action: "change->quantity-left#test radio-buttons#select"
                              }
                          },
                          wrapper_html: { class: "mb-4", data: {controller: "radio-buttons"} },
                          item_label_class: "radio-form",
                          item_wrapper_class: "custom-radio-buttons" %>
              <%= f.input :buying_date,
                  as: :radio_buttons,
                  collection: ["Less than 3 months", "Less than 6 months", "Less than a year", "More than a year"].map { |element| [element, element] },
                  input_html: {
                    class: "sr-only",
                    data: {
                      radio_buttons_target: "input",
                      action: "change->quantity-left#test radio-buttons#select"
                      }
                  },
                  wrapper_html: { class: "mb-4", data: {controller: "radio-buttons"} },
                  item_label_class: "radio-form",
                  item_wrapper_class: "custom-radio-buttons" %>
              <%= f.input :expiration_date, as: :radio_buttons,
                  collection: ["Less than 3 months", "Less than 6 months", "Less than a year", "More than a year"].map { |element| [element, element] },
                  input_html: {
                    class: "sr-only",
                    data: {
                      radio_buttons_target: "input",
                      action: "change->quantity-left#test radio-buttons#select"
                      }
                  },
                  wrapper_html: { class: "mb-4", data: {controller: "radio-buttons"} },
                  item_label_class: "radio-form",
                  item_wrapper_class: "custom-radio-buttons" %>
          </div>
          <div id="step-3" class="tab-pane" role="tabpanel">
              <%= f.input :price, label: "Happy with this price ? If not, feel free to change it!", input_html: {class: "price-final", data: { quantity_left_target: "price" }, value:
                            if @product_scanned
                               @product_scanned&.price * (@product_scanned&.quantity_left.to_i.fdiv(100))
                            end || @product&.price} %>


          </div>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'smartwizard' %>
  <% end %>
</div>
