<h2> Categories</h2>

<div class="cards-categories">

  <%= link_to products_path(category: "1") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path("paint-bucket.jpg")%>)">
      Paints
    </div>
  <% end %>

  <%= link_to products_path(category: "2") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path("tiles.jpg")%>)">
      Floors
    </div>
  <% end %>

  <%= link_to products_path(category: "3") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path("tools.jpg")%>)">
      Tools
    </div>
  <% end %>

  <%= link_to products_path(category: "4") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=asset_path("hardware.jpg")%>)">
      Hardware
    </div>
  <% end %>
</div>


<h2>This is the product index</h2>

<div class="cards">
  <% @products.each do |product| %>
    <%= render 'products/card_product', product: product %>
  <% end %>
</div>
