

<% unless current_user.nil? %>

  <% if current_user.can_contact?(@product) %>
    <%= link_to 'Contact', user_path(@product.user_id), class: "btn-green-secondary" %>
  <% end %>

  <% if current_user.can_order?(@product) %>
    <%= link_to 'Order', product_orders_path(@product), method: :post, class: "btn-green-primary" %>
  <% elsif current_user.not_my_product?(@product)%>
    <%= link_to 'Show my order', order_path(@product), class: "btn-green-primary" %>
  <% else %>
    <%= link_to 'Back to my profile', user_path(current_user), class: "btn-green-primary" %>
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="card-category">
  <%= image_tag (@product.photo.attached? ? cl_image_path(@product.photo.key) : asset_path("paintpots.jpg"))%>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex bd-highlight mb-3">
         <p><i class='fa fa-long-arrow-left' style='color: white' class="me-auto p-2 bd-highlight"></i></p>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <p><i class='fa fa-share-alt' style='color: white' class="p-2 bd-highlight"></i></p>
          <p><i class='fas fa-heart' style='color: white' class="p-2 bd-highlight"></i></p>
          <h1 class="presentation-title">This is my Product</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="details-show d-flex justify-content-between">
    <div class="details-show-left">
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">Name</li>
        <li class="list-group-item">Brand</li>
        <li class="list-group-item">Characteristics</li>
        <li class="list-group-item">Category</li>
        <li class="list-group-item">Sub-Category</li>
      </ul>
    </div>
    <div class="details-show-right">
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">Price</li>
          <li class="list-group-item">Quantity left</li>
          <li class="list-group-item">Condition</li>
          <li class="list-group-item">Buying Date</li>
         <li class="list-group-item">Expiration Date</li>
        </ul>
      </div>
    </div>
  <div>
    <blockquote class="blockquote">
      <h3 class="mb-0">Description générale</h3>
        <p><i class="text-align-inline">Waste-Market is taking its paint ranges to new eco-friendly heights.
        Our main goal is to recycle and reuse your left-over pot of paint in a new innovative and friendly way. A concept...</p></i>
    </blockquote>
  </div>
