<!DOCTYPE html>
<html>
  <head>
    <title>WasteMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/gauge-chart@latest/dist/bundle.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <style>
      <%# & permet de ne pas etre connecté sans avoir de message d'erreur pour le current_user %>
     <%= ".message-list.user-#{current_user&.id}" %> {
        text-align: right;
      }

      <%= ".message.user-#{current_user&.id}" %> {
        color: green;
      }
    </style>


  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/mobilenavbar' %>

    <% if params[:controller] == "products" && params[:action] == "index" %>
      <%= render 'shared/banner' %>
    <% end %>

    <div class="container mt-4 mb-4">
      <%= yield %>
    </div>

    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>


  </body>
</html>
